.product-card {
    background-color: #c0ffb08a;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 1200px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.product-card h3 {
    font-size: 1.3rem;
    margin: 0.5rem 0;
    color: #333;
}

.product-card p {
    margin: 0.3rem 0;
    color: #666;
}

.crud-filter-text{
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.find {
    font-size: 2rem;
    background-color: #70aeff8a;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(17, 17, 17, 0.61);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

h2 {
    font-size: 3rem;
    margin: 1rem 0;
    color: #333;
}